@import "../libs/bootstrap/css/bootstrap.min.css";

.b-chat-room {
	border-radius: 4px;
	padding: 10px;
	background-color: #bbb;
}

.b-chat-room ul {
	padding: 5px;
}

.b-chat-room__messages {
	height: 500px;
	border-radius: 4px;
	background-color: #fff;

	margin: 0;
}

.b-chat-room__enter-new-message {
	margin: 10px 0 0 0;
	border-radius: 4px;
	padding: 5px;
	background-color: #fff;
}

.b-chat-room__enter-new-message input[type="text"] {
	margin: 5px;
}

.b-chat-room__enter-new-message form {
	margin: 0;
}

.b-chat-room__users {
	background-color: #fff;
	border-radius: 4px;
	height: 570px;
}

.b-chat-room__users li,
.b-chat-room__messages li {
	list-style: none;
}

.b-chat-room__message-item {
	border-radiis: 4px;
}
